### земля - планета / земля - вещество
Любым способом выполните следующее задание (можно писать свой код, можно запускать готовый код, модифицировать код, который вы писали на курсе по машинному обучению, результат подавать на вход другому готовому коду или сравнивать с электронными лексикографическими ресурсами). 
Опишите всю цепочку вычислений. Задание. 

Соберите корпус, на котором можно обучаться для различения двух значений лексемы (лексему см. в табличке https://goo.gl/8YU1Dr) 

(NB: можно воспользоваться любым поисковиком, выдачей НКРЯ по специальным запросам - например, для датасета со словом ключ (см. датасет с семинарского занятия) я воспользовалась контекстами (-15--7 /+10 +15) "вода|бить|лес..." и т.п.; метод, которым вы создадите тренировочный корпус оценивается). 

Важно, чтобы метод создания датасета позволял рсставить значения автоматически, а не вручную.
Датасет должен состоять примерно из 300 предложений. Составьте свой собственный тестовый сет из 8 предложений. 

Любыми двумя способами соберите признаки, на основе которых можно было бы различить два значения (PMI, Word2Vec, WordNet ...). 
Обучите классифкатор распознавать значения. 

Результат: топ 10 хороших признаков для различения значения 1 и значения 2; 
описание процедур, которые Вы применили или собирались применить для нахождения этих признаков (например, воспользовались word2vec - только укажите подробности, как именно); 
точность, полнота, F мера для кросс-валидации. 
Результат работы классификатора на Ваших 8 предложениях

### создание корпуса
- выбрала слова для коллокаций из ruSKELL
    - для "планеты": планета|космос|орбита|космический|астероид|вращаться|марс|венера|спутник
    - для "вещества": засыпать|присыпать|пахать|рыть|копать|песок|вода|сырой|дерновый|влажный|пложородный|горшок|закапывать|зарывать|выкапывать
- поиск по контекстам (-10, +10) в НКРЯ

взято: 150 с первым значением и 150 со вторым

### программа

In [23]:
import pandas as pd
import numpy as np
import re
from pymystem3 import Mystem

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB

from sklearn import metrics

In [2]:
m = Mystem()

### загрузка стопслов

In [3]:
def load_stop_words(stop_filename):
    with open(stop_filename, encoding = 'utf-8') as f:
        stopwords = [w.strip() for w in f.readlines() if w.strip()]
    return set(stopwords)

In [4]:
stop_words = load_stop_words("stoplist_russian.txt")
print(stop_words)

{'после', 'даже', 'главный', 'рамка', 'по', 'едва', 'а', 'этот', 'ли', 'самый', 'восемь', 'не', 'лишь', 'что', 'уже', 'над', 'в', 'он', 'со', 'на', 'примечательно', 'первый', 'пока', 'ещё', 'два', 'по-прежнему', 'я', 'еще', 'она', 'каждый', 'с', 'без', 'и', 'здесь', 'стать', 'во', 'год', 'четыре', 'свой'}

### загрузка данных, препроцессинг

In [5]:
def preprocessing(raw_text):
    clean_text = re.sub('\W+', ' ', raw_text) # \W = [^a-zA-Z0-9_]
    return clean_text

def lemmatize(input):
    return [lemma.strip() for lemma in m.lemmatize(preprocessing(input.lower())) if lemma.strip()]

#### обучающие данные

In [6]:
df_train = pd.read_csv('earth_soil.csv', encoding='utf-8', sep = '\t')
df_train = df_train[['text', 'sense']]
df_train.head()

                                                text    sense
0  Благодаря запуску на орбиту вокруг Земли специ...  планета
1         Земля (орбита Земли) есть мера всех орбит.  планета
2  Как видно из данного рисунка, между магнитными...  планета
3  Сопоставление ВГП Солнца на поверхности планет...  планета
4  Широтные параметры смещений, видимо, надо иска...  планета

In [7]:
df_train.shape

(300, 2)

In [8]:
for i in range(len(df_train)):
    processed_text = lemmatize(df_train.iloc[i]["text"])
    processed_text_2 = []
    for word in processed_text:
        if (len(word) > 0 
            and word not in stop_words 
            and word != "земля"):
            processed_text_2.append(word)
    df_train.iloc[i]["text"] = " ".join(processed_text_2)
df_train.head()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

                                                text    sense
0  благодаря запуск орбита вокруг специализирован...  планета
1                       орбита быть мера весь орбита  планета
2  как видно из данный рисунок между магнитный по...  планета
3  сопоставление вгп солнце поверхность планета и...  планета
4  широтный параметр смещение видимо надо искать ...  планета

#### тестовые данные

In [9]:
df_test = pd.read_csv('earth_soil_test.csv', encoding='utf-8', sep = '\t')
df_test = df_test[['text', 'sense']]
df_test.head()

                                                text     sense
0  В год столетия Сергея Павловича Королева, 150-...   планета
1  При этом оказывается, что центроид оболочки си...   планета
2  Например, для Меркурия n = 10, для Венеры n =1...   планета
3  Спутник плывет над сияющей Землей; колониальны...   планета
4  Годится почвенная смесь, просеянная через мелк...  вещество

In [10]:
df_test.shape

(8, 2)

In [11]:
for i in range(len(df_test)):
    processed_text = lemmatize(df_test.iloc[i]["text"])
    processed_text_2 = []
    for word in processed_text:
        if (len(word) > 0 
            and word not in stop_words 
            and word != "земля"):
            processed_text_2.append(word)
    df_test.iloc[i]["text"] = " ".join(processed_text_2)
df_test.head()

                                                text     sense
0  столетие сергей павлович королева 150 летие ко...   планета
1  при это оказываться центроид оболочка система ...   планета
2  например для меркурий n 10 для венера n 11 для...   планета
3  спутник плыть сиять колониальный народ бунтова...   планета
4  годиться почвенный смесь просеивать через мелк...  вещество

### векторизация (tf-idf)

In [24]:
#vec = TfidfVectorizer(analyzer='char', ngram_range=(1,8), norm=None, use_idf=False, binary=True, max_df = 600)
vec = TfidfVectorizer(analyzer='word', ngram_range=(1,3), use_idf=True, binary=True, norm='l2')
X = vec.fit_transform(df_train.text)
print('feature matrix shape', X.shape)

# encode class labels
label_enc = LabelEncoder().fit(df_train.sense)
y_train = label_enc.transform(df_train.sense)

feature matrix shape (300, 11961)

### обучение модели (баесовский классификатор)

In [25]:
# fit our prediction model
model = MultinomialNB(alpha=1.0)
model.fit(X, y_train)

# perfomance on test dataset
X_test = vec.transform(df_test.text)
y_pred = model.predict(X_test)
y_test = label_enc.transform(df_test.sense)
X_pred = model.predict(X_test)

## кросс-валидация

In [38]:
from sklearn.model_selection import cross_val_score

print ('precision', np.mean(cross_val_score(model, X, y_train, cv=10, scoring='precision')))
print ('recall', np.mean(cross_val_score(model, X, y_train, cv=10, scoring='recall')))
print ('f1', np.mean(cross_val_score(model, X, y_train, cv=10, scoring='f1')))

precision 0.969485294118
recall 0.986666666667
f1 0.977176028921

## результат на тестовых данных

In [39]:
print('accuracy', metrics.accuracy_score(y_test, X_pred))

accuracy 1.0

In [40]:
print("настоящие значения", y_test)
print("предсказания модели", X_pred)

настоящие значения [1 1 1 1 0 0 0 0]
предсказания модели [1 1 1 1 0 0 0 0]